@model ConvertFileDto

<div class="uk-section uk-section-largemuted uk-section-secondary uk-light">
    <div class="uk-container">
        <h2 class="uk-heading-bullet">Конвертировать</h2>
        <div class="uk-grid-match uk-child-width-1@m" uk-grid>
            <div>
                <p>Загрузите файл формата JSON или XML</p>
            </div>

            <form asp-action="Send" asp-controller="Home" enctype="multipart/form-data" method="post" id="convertersForm">

                <div class="uk-inline">
                    <div uk-form-custom>
                        <input type="file" asp-for="File">
                        <button class="uk-button uk-button-default" type="button" tabindex="-1">Выбрать</button>
                    </div>
                    
                    <button class="uk-button uk-button-secondary" id="sendFile" type="submit">Отправить</button>
                    <br/>
                </div>

            </form>

        </div>
    </div>
</div>